Source: libgeometry
Maintainer: Benjamin Eikel <debian@eikel.org>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9),
               cmake,
               libcppunit-dev
Standards-Version: 3.9.8
Homepage: https://github.com/PADrend/Geometry

Package: libgeometry-dev
Architecture: any
Section: libdevel
Depends: libgeometry0 (= ${binary:Version}),
         ${misc:Depends}
Description: Geometric objects, data structures, and calculations - development files
 Library containing geometric objects, data structures, and calculations.
 .
 The Geometry library has been developed and used mainly in the context 
 of PADrend.
 .
 This package contains development files.

Package: libgeometry0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Geometric objects, data structures, and calculations - shared library
 Library containing geometric objects, data structures, and calculations.
 .
 The Geometry library has been developed and used mainly in the context 
 of PADrend.
 .
 This package contains the Geometry runtime library.
